.container {
  h3 {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
}

.options {
  display: flex;
  gap: 0.5rem;
}

@media (min-width: 768px) {
  .options {
    max-width: 24rem;
  }
}

.card {
  flex: 1 1 0%;
  min-width: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 0.625rem;
  cursor: pointer;

  box-sizing: border-box;
  padding: 1rem;
  border-radius: 1rem;
  background-color: lightgray;
}

.image {
  height: 5rem;
  width: auto;
}

.text {
  text-align: center;
  font-size: 0.725rem;
  font-weight: 400;
}
