.button {
  display: flex;
  align-items: center;
  border: 1px solid black;
  box-shadow: 4px 4px black;
  position: relative;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  align-self: stretch;
  cursor: pointer;
}

.button:hover {
  background-color: black;
}
