*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-width: 360px;
}

body {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img,
svg {
  max-width: 100%;
  height: auto;
}
