.body {
  max-width: 56rem;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1280px) {
  html {
    background-color: lightgray;
    background-image: url("/images/grid-bg.svg");
    background-repeat: repeat;
    background-size: 16px 16px;
  }
}
