.body {
  max-width: 56rem;
  margin-left: auto;
  margin-right: auto;
}

.main {
  flex: 1 1 auto;
  min-width: 0;
  display: flex;
  flex-direction: column;
  margin: 0;

  padding: 1.5rem;
}

@media (min-width: 1280px) {
  html {
    background-color: lightgray;
    background-image: url("/images/grid-bg.svg");
    background-repeat: repeat;
    background-size: 16px 16px;
  }

  .main {
    margin: 3.5rem 0 3.5rem 0;
    padding: 3.5rem;
    border: 1px solid black;
    box-shadow: 4px 4px black;
  }
}
