.section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 1rem;
  background-color: lightgray;
}

.media {
  padding: 0.5rem;
  margin-top: 0.5rem;
}
